<section class="home">
  <div class="layOut text-white flex justify-start items-center">
    <div class="lg:w-3/5 md:w-4/5 px-4" data-aos="fade-right">
      <h1 class="text-6xl font-bold lg:mx-10">We Provide Best Medical Services</h1>
      <h3 class="lg:mx-10 my-6">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
      </h3>
      <a href="Appointment" class="block rounded-md w-fit p-4 font-bold bg-mainColor lg:mx-10">Book Appointment</a>
    </div>
  </div>
  <app-about></app-about>
  <app-services></app-services>
  <app-reviews></app-reviews>
  <app-our-doctors></app-our-doctors>
  <app-blog></app-blog>
  <app-book-appointment></app-book-appointment>
  <app-footer></app-footer>
</section>
