<section class="reviews text-center">
  <div class="layOut py-6">
    <!-- <p class="text-4xl font-bold text-white my-6">Customer Reviews</p>
    <div id="default-carousel" class="relative" data-carousel="static">
      Carousel wrapper
      <div class="relative rounded-lg md:h-96 flex flex-col items-center">
        Item 1
        <div #review1 class="z-20 reveiw1" data-carousel-item="" data-aos="fade-right">
          <img src="../../../assets/Images/doctor1.jpg" class="my-2" alt="image1">
          <p class="text-white w-3/5 mx-auto text-xl font-medium my-6">Lorem Ipsum is simply dummy text of the printing
            and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy
            text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
          <p class="text-white text-2xl font-bold">Johnathan Doe</p>
          <p class="text-white">Patient of Neurology</p>
        </div>
      </div>
    </div> -->
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="relative rounded-lg md:h-96 flex flex-col items-center">
          <div #review1 class="z-20 reveiw1" data-carousel-item="" data-aos="fade-right">
            <img src="../../../assets/Images/doctor1.jpg" class="my-2" alt="image1">
            <p class="text-white w-3/5 mx-auto text-xl font-medium my-6">Lorem Ipsum is simply dummy text of the
              printing
              and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy
              text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
            <p class="text-white text-2xl font-bold">Johnathan Doe</p>
            <p class="text-white">Patient of Neurology</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="relative rounded-lg md:h-96 flex flex-col items-center">
          <div #review1 class="z-20 reveiw1" data-carousel-item="" data-aos="fade-right">
            <img src="../../../assets/Images/doctor2.jpg" class="my-2" alt="image1">
            <p class="text-white w-3/5 mx-auto text-xl font-medium my-6">Lorem Ipsum is simply dummy text of the
              printing
              and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy
              text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
            <p class="text-white text-2xl font-bold">Mohamed Sied</p>
            <p class="text-white">Patient of Neurology</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="relative rounded-lg md:h-96 flex flex-col items-center">
          <div #review1 class="z-20 reveiw1" data-carousel-item="" data-aos="fade-right">
            <img src="../../../assets/Images/about.jpg" class="my-2" alt="image1">
            <p class="text-white w-3/5 mx-auto text-xl font-medium my-6">Lorem Ipsum is simply dummy text of the
              printing
              and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy
              text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
            <p class="text-white text-2xl font-bold">Michel Johnathan</p>
            <p class="text-white">Patient of Neurology</p>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>


<!-- <ngx-carousel
        [inputs]="carouselOne"
        (carouselLoad)="myfunc($event)">
          <ngx-item NgxCarouselItem>
            ....
          </ngx-item>
          <ngx-item NgxCarouselItem>
            ....
          </ngx-item>
          <ngx-item NgxCarouselItem>
            ....
          </ngx-item>
          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel> -->
