/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$mainColor:#0e1a60;

body {
  margin-top: 12vh;
  width: 100;
  overflow-x: hidden;
  position: relative;
}
