<section class="blog text-center pt-8">
  <p class="text-5xl font-bold my-12">Blog & News</p>
  <div class="container mx-auto lg:grid md:grid grid-cols-12">
    <div class="box lg:col-span-4 col-span-6 shadow-xl" data-aos="fade-right">
      <img src="../../../assets/Images/blog1.jpg" alt="">
      <p class="w-4/5 font-semibold text-3xl text-left ml-10 my-6">Lorem Ipsum is simply dummy</p>
      <p class="w-4/5 mb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="box lg:col-span-4 col-span-6 shadow-xl" data-aos="fade-right">
      <img src="../../../assets/Images/blog1.jpg" alt="">
      <p class="w-4/5 font-semibold text-3xl text-left ml-10 my-6">Lorem Ipsum is simply dummy</p>
      <p class="w-4/5 mb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="box lg:col-span-4 col-span-6 shadow-xl" data-aos="fade-right">
      <img src="../../../assets/Images/blog1.jpg" alt="">
      <p class="w-4/5 font-semibold text-3xl text-left ml-10 my-6">Lorem Ipsum is simply dummy</p>
      <p class="w-4/5 mb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
</section>
